@model List<UserInRoleVM>
@{
    ViewData["Title"] = "Add Or Remove Users";
    var RoleId = ViewBag.RoleId;
}

<h1>Add Or Remove Users</h1>

<form method="post" class="form-group">
    <div class="card-header">
        <h2>Add Or Remove User In Role</h2>
    </div>
    <ul class="list-unstyled">
        @for (int i = 0; i < Model.Count; i++)
        {
            <li>
                <input asp-for="@Model[i].IsSelected" type="checkbox" class="filled-in">
                <label asp-for="@Model[i].IsSelected">@Model[i].UserName</label>

                <input type="hidden" asp-for="@Model[i].UserId" />
                <input type="hidden" asp-for="@Model[i].UserName" />
            </li>
        }
    </ul>
    <div class="card-footer">
        <a class="btn btn-primary" asp-controller="Role" asp-action="Update" asp-route-id="@RoleId">Cancel</a>
        <input type="submit" value="Update" class="btn btn-danger" />
    </div>
</form>